---

- name: Update apt sources
  apt:
    update_cache: yes
    cache_valid_time: 3600
  register: apt_update
  until: apt_update|success
  retries: 5
  delay: 2
  when: ansible_os_family == "Debian"
  tags: 
    - update

- name: Create LXC Volume Group
  lvg:
    vg: lxc
    pvs: "{{ controller_lxc_vg }}"
  when: inventory_hostname | search("controller")
  tags:
    - controller

- name: Create Cinder Volume Group Compute Nodes
  lvg:
    vg: cinder-volumes
    pvs: "{{ compute_cinder_vg }}"
  when: inventory_hostname | search("compute")
  tags:
    - compute

- name: Create Cinder Volume Group Storage Nodes
  lvg:
    vg: cinder-volumes
    pvs: "{{ storage_cinder_vg }}"
  when: inventory_hostname | search("cinder")
  tags:
    - cinder
    
- name: Sending a status update e-mail
  mail:
    host: '{{ host }}'
    port: '{{ port }}'
    secure:  '{{ secure }}'
    username: '{{ username }}'
    password: '{{ password }}'
    from: '{{ from }}'
    to: '{{ to }}'
    subject: '{{ subject_prefix }} Volume Groups Configured on {{ ansible_hostname }}'
    body: Volumes Groups have been configured on {{ ansible_hostname }}
  when: send_mail | bool
  tags:
    - mail